<!doctype html>
<title>{{block "title" .}}Welcome{{end}} | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="./static/style.css">
<div class="page">
  <h1>MiniTwit</h1>
  <div class="navigation">
    {{if .User}}
      <a href="{{ .myTimelineLink }}">my timeline</a>
      <a href="{{ .publicTimelineLink }}">public timeline</a>
      <a href="{{ .logoutLink }}">sign out [{{.User.Username}}]</a>
    {{else}}
      <a href="{{ .publicTimelineLink }}">public timelines</a> |
      <a href="{{ .registerLink }}">sign up</a> |
      <a href="{{ .signinLink }}">sign in</a>
    {{end}}
  </div>

  {{with .Flashes}}
    {{if .}}
      <ul class="flashes">
        {{range .}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    {{end}}
  {{end}}

  <div class="body">
    {{template "body" .}}
  </div>
  <div class="footer">
    MiniTwit &mdash; A Flask Application
  </div>
</div>
